# VI- Nettoyage des données test
Le classeur **KNN** sera évalué sur l'ensemble des données test. Pour ça, il faut d'abord nettoyer le jeu de données test. Dans le cas du nettoyage des données test, on intéressera seulement aux valeurs manquantes car celles-ci constituent un "oubli" de la part de celui qui a saisi. Après on va laisser à notre classeur le soin de prédire la classe de chaque donnée.

            1) Importation du fichier test

In [53]:
df2 = pd.read_csv("/home/users/etudiant/Documents/Qualité des donnée  2/test.csv", sep = ',' , header = 0 )

De meme que pour nos données train, on va supprimer les colonnes **'Unnamed: 0'**, **'id'** et **'Departure Delay in Minutes'**.

In [37]:
df2_clean = df2.drop(['Unnamed: 0', 'id', 'Departure Delay in Minutes'], axis = 1)
df2_clean.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Arrival Delay in Minutes,satisfaction
0,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,4,...,3,5,5,5,5,2,5,5,44.0,satisfied
1,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,1,...,5,4,4,4,4,3,4,5,0.0,satisfied
2,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,4,...,2,2,4,1,3,2,2,2,0.0,neutral or dissatisfied
3,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,2,...,4,1,1,1,1,3,1,4,6.0,satisfied
4,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,3,...,2,2,2,2,2,4,2,4,20.0,satisfied

          2) Traitement des valeurs manquantes

Grace a la ligne de code suivante: **dftest_clean.isnull().sum()**, on va chercher les **valeurs manquantes** et s'en occuper par la suite:

In [38]:
df2_clean.isnull().sum()

Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Arrival Delay in Minutes             83
satisfaction                          0
dtype: int64

De meme que le fichier **train** seule la variable **Arrival Delay in Minutes** qui contient **83** valeurs manquantes.

In [39]:
mediane_retard_df2 = df2_clean['Arrival Delay in Minutes'].median() 
frequance_retard_df2 = df2_clean['Arrival Delay in Minutes'].value_counts()/df2_clean.shape[0]*100

print("   Les frequance des retards sont:\n",frequance_retard_df2 )
print("\n La mediane de minuites de retards des vols est egale à:\n", mediane_retard_df2)

   Les frequance des retards sont:
 0.0      56.182630
1.0       2.063443
2.0       2.013397
3.0       1.886357
4.0       1.793964
           ...
307.0     0.003850
285.0     0.003850
347.0     0.003850
795.0     0.003850
288.0     0.003850
Name: Arrival Delay in Minutes, Length: 320, dtype: float64

 La mediane de minuites de retards des vols est egale à:
 0.0

Plus grande fréquence de retard: on a **56% des vols** qui n'ont pas fait des retard, **fréquence de 0.0 min**.
On remplace les **valeurs manquantes** par la **médiane** ou par la valeur de **minutes de retard** le plus fréquenté, elles sont toutes les deux égale à **0.0**.

In [40]:
df2_clean['Arrival Delay in Minutes'] = df2_clean['Arrival Delay in Minutes'].fillna(mediane_retard_df2)

In [41]:
df2_clean.isnull().sum()

Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

             2) Transformation des variables types 'objet' en variables types 'int'
De même que le fichier **train**, les variables 
```
['Gender', 'Customer Type', 'Type of Travel', 'Class', 'satisfaction']
```
sont des types chaînes des caractères. Le classeur **KNN** recommande des variables des types **int** pour la calcul des **distance des K plus proches voisins**.

In [42]:
df2_clean['Gender'] = df2_clean['Gender'].map({'Male' : 0, 'Female' : 1})
df2_clean['Customer Type'] = df2_clean['Customer Type'].map({'Loyal Customer' : 0, 'disloyal Customer' : 1})
df2_clean['Type of Travel'] = df2_clean['Type of Travel'].map({'Personal Travel' : 0, 'Business travel' : 1})
df2_clean['Class'] = df2_clean['Class'].map({'Business' : 2, 'Eco Plus' : 1, 'Eco' : 0})
df2_clean['satisfaction'] = df2_clean['satisfaction'].map({'neutral or dissatisfied' : 0, 'satisfied' : 1})